<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Matt & Tiffany's Air Freight Express</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using Shipping.Models;
    <h1>Welcome to the Air Freight Express</h1>
    <h2>We ship packages worldwide. Not currently accepting deliveries for North Korea, Ukraine, Iraq.</h2>

    <h4> Volume of the parcel : @Models.vol</h4>
     
    <a href='/parcels/new'>Click here to ship a new package.</a>
    <a href='/parcels'>Click here to see a manifest of current packages out for delivery.</a>
  </body>
</html>